<div>
  <%= form_with model: @plan, url: calendars_path, class: 'form' do |f| %>
    <%= f.label :日付を選択, class: 'lavel' %>
    <%= f.date_field :date, class: 'date-select' %>
    <%= f.label :予定を入力, class: 'lavel' %>
    <%= f.text_field :plan, class: 'text-input' %>
    <%= f.submit '保存' %>
  <% end %>
</div>
<div>
  <div class='calendar'>
    <% @week_days.each do |day| %>
      <div class='item'>
        <div class='date'>
          <%= day[:month] %>/<%= day[:date] %>
        </div>
        <ul class='content'>
        <% if day[:plans].length != 0 %>
          <% day[:plans].each do |plan| %>
            <li class='plan-list'>・<%= plan %></li>
          <% end %>
        <% end %>
        </ul>
      </div>
    <% end %>
  </div>
</div>



<%# ERBにRubyを埋め込むタグが2種類あることはすでに学びました。 %>
<%# <%= %#>は表示するものに使い、<% %#>は表示しないものに使うのでした。  %>
<%# 画面上に表示をさせなくても良いRuby記法（if文や、each文など）の場合には、=を抜いて<% %#>でコードを囲います。 %>
<%# https://master.tech-camp.in/v2/curriculums/7086 %>